body {
    background-image: url("https://i.ytimg.com/vi/P3oH8MNexLI/maxresdefault.jpg");
}

header, footer {
    background-color: darkolivegreen;
    color: rgb(9, 9, 14);
    text-align: center;
}

li {
    border: darkolivegreen solid 3px;
    display: inline-block;
    padding: 1px;
    margin: 1px 1px;
    background-color: transparent;
    color: rgb(6, 7, 10);
}

section {
    background-color: darkolivegreen ;
    border: darkolivegreen solid;
    padding: 3px 5px 5px;
    text-align: center;
}

img {
    background-color: transparent;
    border: darkolivegreen solid;
    padding: 2px 5px;
}

#aldmeri {
    width: 300px;
}

#ebonheart {
    width: 300px;
}

#daggerfall {
    width: 300px;
}

p {
    background-color: transparent;
    padding: 10px 10px 10px 10px;
    color: rgb(9, 9, 14);
    text-align: center;
}